<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3 cards">

            <div class="card">
                <div class="card-body">
                    <div class="">
                        <img class="img-thumbnail" width="100%" src="https://picsum.photos/80/80/?random?image=4">
                    </div>
                    <br>
                    <div class="h5 communityName">
                        {{#each username}}
                        {{username}}
                        {{/each}}
                        </div>
                    <div class="h7 communityInfo">If you're a Shiba lover, Feel free to join us!
                    </div>
                    {{!-- <img src="/uploads/myImage-1557821530526.jpg" style="width:100px; height:auto;"> --}}
                </div>
                <br>
                <ul class="list-group list-group-flush">
                    {{!-- <li class="list-group-item">
                        <div class="h6 text-muted">Category</div>
                        <div class="h5">Dog</div>
                    </li> --}}
                </ul>
            </div>
        </div>
        <div class="col-md-8 gedf-main cards">

            <!--- \\\\\\\Post-->
