{{!-- {{#each  }} --}}
<div>
    <textarea class='input'>
      {{content}}
  </textarea>
  <i class="far fa-heart"></i>
  <i class="far fa-comments"></i>
  <i class="far fa-share-square"></i>

</div>


{{!-- {{/each}} --}}