.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    float: left;
}

.green {
    background-color: green;
    width: 100px;
    height: 100px;
    float: right
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: auto;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}