body {
    position: relative;
  }



header {
    background-image: url("./header.jpg");
    background-position: center!important;
    background-size: cover!important;
    height: 100vh;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    text-align: center;
}

.jumbotron {
    margin-bottom: 0rem!important;
    border-radius: .0rem!important;
}

.btn-secondary {
    background-color: #f05f40!important;
    border-color:#f05f40!important;
}

.btn-group-md>.btn, .btn-md {
    border-radius: 16px!important;

}

#block {
    display: block;
    color: white

}

.section1 {
    background-color: #f05f40!important;
    color: white;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    text-align: center;
    height: 470px;
}

.block2 {
    display: block;
}

.section2 {
    display: flex;
    justify-content: center;
    
}

.section2height{
    height: 528px;
    display:flex;
    justify-content: center;
    align-items: center;
}



i {
    font-size: 50px;
    color:  #f05f40!important;
    Text-Align: center;
}

.card{
    text-align: center;
    border: none!important;
}

.sofuckingcreative {
    text-align: center!important;
}

img {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 100%!important;
    opacity: 0!important;
    transition: .5s ease!important;
    background-color: #f05f40!important
  }
  

.container {
    box-sizing: content-box!important;
    padding-left: 0px!important;
}
  .container:hover .overlay {
    opacity: 0.8!important;
  }
  
  .text {
    color: white!important;
    font-size: 20px!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important;
    text-align: center!important;
  }

  .section4{
      
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
      text-align: center!important;
      height: 203px!important;
      background-color: black!important;
  } 

  .section4div {
    display: block!important;
  }

.section5 {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    text-align: center!important;
    height: 498px!important;
}

.section5div {
    display: block!important;
  }
hr {
    width:55px;
    background: #f05f40;
    height: 2px!important
}

.section5divdiv {
    display: block;
}
/*.gg::after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; 
}*/


/*.bb {
    clear: both;
}*/

